.shipping_InnerContainer {
  display: flex;
  flex-direction: column;
  height: 18rem;
  justify-content: space-between;
  width: 20rem;
}

.shipping_Flex {
  display: flex;
  justify-content: space-between;
}

.shipping_InnerContainer p {
  font-size: 16px;
  line-height: 20px;
  font-family: poppins;
  color: #313131;
  margin-top: 0.5rem;
}
.shipping_MainCon h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: poppins;
  color: #313131;
  margin-top: 3rem;
}
.shipping_MainCon .mainHeading {
  font-size: 30px;
  line-height: 40px;
  font-family: poppins;
  color: #313131;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.shipping_InnerContainer label {
  font-size: 16px;
  line-height: 24px;
  font-family: poppins;
  font-weight: 700;
}
.shipping_radio_Con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.shipping_radio_Con input[type="radio"] {
  accent-color: #f8444f;
}
.shipping_MainCon {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shipping_MainCon button {
  background-color: #f8444f;
  color: #fff;
  padding: 20px;
  border: transparent;
  margin-top: 3rem;

  width: 30%;
  font-size: 16px;
  line-height: 24px;
  font-family: poppins;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
