@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@300;500;600;800&display=swap");
.s-2 {
  /* height: 60.33vh; */
  margin-top: 1.25rem;
}
.v-card {
  width:417px;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}
.links-cont > a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;

  /* Wireframe */

  color: #313131;
}
/* .v-card > .row > .col-2 > img {
  width: 1.5em;
} */
.card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.11rem;
  /* line-height: 1.875rem; */
  /* identical to box height */
  /* width: 100%; */
  text-align: left;

  /* Wireframe */

  color: #313131;
}
.smth > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  padding: 1rem 1rem;

  /* Wireframe */

  color: #313131;
}
.span{
  font-family: 'Poppins', sans-serif;
  color: #F8444F;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-left: 1em;
}
.head-text{
  display: grid;
  margin-left: 40rem;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}