.search_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search_Main_Con input {
  padding: 10px;
  border: 1px solid #cccccc;
  width: 20rem;
  margin-bottom: 3rem;
}
.search_Main_Con input:focus {
  border: 1px solid rgb(248, 68, 79);
  color: rgb(248, 68, 79) !important;
  font-weight: 700;
  font-size: 20px;
  font-family: poppins;
  outline: none;
}

.search_Main_Con input::placeholder {
  color: rgb(248, 68, 79) !important;
  font-weight: 700;
  font-size: 20px;
  font-family: poppins;
}
.search_Main_Con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_Main_Con label {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 30px;
  font-family: poppins;
  font-weight: 500;
}

.search_items {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1rem;
  width: fit-content;
  max-width: 100%;
  border-radius: 20px;
  padding: 1rem;
}

.search_items h3 {
  font-family: poppins;
  font-size: 18px;
  line-height: 25px;
}
.search_items img {
  margin-bottom: 1rem;
  max-width: 300px;
  height: fit-content;
  object-fit: scale-down;
}

.search_items .description {
  color: #313131;
  font-size: 16px;
  line-height: 25px;

  font-family: poppins;
}
