.form_registration{
    width: 50%;
    margin: 0 auto;
}
.form_registration input:nth-child(-n+4){
    width: 100%;
    margin: 5px;
    border:0;
    border-bottom: 1px solid #78BDC4 ;
}
#sec-registration{
    color:#78BDC4 !important;
    font-weight: 100 !important;
}
.fir-registration{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    margin-left: 34rem;
    font-size: 6.25rem;
    /* line-height: 9.375rem; */
    color: #313131;
}
.widthSet{
     width: 268.73px;
     outline: none !important;
}
#login-checkbox1{
    margin-top: 1rem;
    margin-left: 40rem;
}
.chr{
    margin-left: .5rem;
}
#register_submit-btn1{
    background: #F8444F;
    border-radius: 4px;
    border:none;
    width: 167.76px;
    height: 34.96px;
    color:white;
    margin-left: 14rem;
    margin-bottom: 1rem;
}
#register_submit-btn1:hover{
    background: #db515a;

}

.toggle-login-regis1{
    color:#78BDC4;
    margin-left: .8rem;
    font-size: 1.2rem;
    
}
.toggle-login-regis1:hover{
    cursor: pointer;
}
.al{
    margin-left: 12rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}